body, .background-img {
    background-color: black; /* Задает черный фон */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 5px #03527a, 
                inset 0 0 10px #8576f2, 
                inset 0 0 10px #62aefa, 
                inset 0 0 20px #3aaff3, 
                inset 0 0 40px #43a3f6, 
                inset 0 0 60px #49ccfb;
    overflow-x: hidden; /* Внутренняя неоновая подсветка */
}

.container {
    display: flex;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование содержимого по вертикали */
    min-height: 40vh; /* Высота контейнера для центрирования */
    padding: 10px;
    
}


.neon-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание по левому краю по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    min-height: 20vh;
    margin-left: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; /* Чтобы контент находился над видео */
    z-index: 1;
    font-size: 12px; /* Размер шрифта */
    font-family: 'cyber', sans-serif;
    color: #f9f6f8; /* Розовый цвет текста */
    text-shadow: 0 0 10px #e99bc9, 0 0 20px #ff6ac1, 0 0 30px #ff6ac1; /* Тень текста с неоновым эффектом */
}
.neon-text-blue {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание по левому краю по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    min-height: 20vh;
    margin-left: 50px;
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; /* Чтобы контент находился над видео */
    z-index: 1;
    font-size: 20px; /* Размер шрифта */
    font-family: 'cyber', sans-serif;
    color: #f9f6f8; /* Розовый цвет текста */
    text-shadow: 0 0 5px #03527a, 0 0 10px #8576f2, 0 0 10px #62aefa; /* Тень текста с неоновым эффектом */
    padding-left: 20px; 
    max-width: 1000px; /* Опционально: добавьте отступ слева, если необходимо */
}
.neon-text-blue-e {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание по левому краю по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
 
    margin-left: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; /* Чтобы контент находился над видео */
    z-index: 1;
    font-size: 20px; /* Размер шрифта */
    font-family: 'cyber', sans-serif;
    color: #f9f6f8; /* Розовый цвет текста */
    text-shadow: 0 0 5px #03527a, 0 0 10px #8576f2, 0 0 10px #62aefa; /* Тень текста с неоновым эффектом */
    padding-left: 20px; 
    max-width: 1000px; /* Опционально: добавьте отступ слева, если необходимо */
}

.code-block {
    background-color: #050505; /* Цвет фона блока с кодом */
    border: 1px solid #e1e4e8; /* Легкая рамка */
    border-radius: 6px; /* Закругленные углы */
    padding: 16px;
    width: 900px; /* Ограничение ширины блока */
    overflow-x: auto; /* Горизонтальная прокрутка при необходимости */
}
.code-block-t {
    background-color: #050505; /* Цвет фона блока с кодом */
    border: 1px solid #e1e4e8; /* Легкая рамка */
    border-radius: 6px; /* Закругленные углы */
    padding: 16px;
    width: 900px; /* Ограничение ширины блока */
    overflow-x: auto; /* Горизонтальная прокрутка при необходимости */
}
.image img {
    width: 600px; /* Размер фотографии */
    height: auto;
    border-radius: 5%;
    margin-left: 90px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px; /* Округленные углы фотографии */
    border: 1px solid #e1e4e8; /* Легкая рамка */

}
pre {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-size: 16px; /* Размер шрифта кода */
}

code {
    color: #fafbfd; /* Цвет текста кода */
    font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; /* Шрифт для кода */
}
