@font-face {
    font-family: 'FEARDynamic';
    src: url('quantfh.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'terminator';
    src: url('HURTM___.ttf') format('truetype');
    font-weight: normal;
   
}
@font-face {
    font-family: 'cyber';
    src: url('pdark.ttf') format('truetype');
    font-weight: normal;
   
}


body, .background-img {
    background-color: black; /* Задает черный фон */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 5px #03527a, 
    inset 0 0 10px #8576f2, 
    inset 0 0 10px #62aefa, 
    inset 0 0 20px #3aaff3, 
    inset 0 0 40px #43a3f6, 
    inset 0 0 60px #49ccfb; /* Внутренняя неоновая подсветка */
}



.container {
    display: flex;
    flex-wrap: nowrap; /* Запрещает перенос элементов на новую строку */
    gap: 50px; /* Промежуток между элементами */
    padding: 20px;
    justify-content: space-between; /* Распределяет элементы по ширине контейнера */
}

.box {
    border: 14px solid transparent; /* Исправляет синтаксическую ошибку */
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px #e99bc9, 0 0 10px #ff6ac1, 0 0 20px #ff6ac1, 0 0 30px #ff6ac1;
    padding: 20px;
    background-color: #f0369083; /* Добавлен задний фон */
    width: 250px;
    height: 280px;
    transition: background-color 0.2s;
    font-weight: bold;
    font-family: 'FEARDynamic', sans-serif;
    position: relative;
}
.box:hover {
    background-color: #0091ffcd; /* Цвет фона кнопки при наведении */
    /* Увеличение кнопки при наведении */
}

.box img {
    width: 100%;
    height: auto;
    max-height: 190px; /* Максимальная высота изображения */
    border-radius: 5px;
}

.box h3 {
    margin: 5px 0;
    font-size: 28px;
}

.box a {
    color: #4b032b;
    font-size: 18px;
}

.box a:hover {
    text-decoration: underline;
}

.neon-text  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; /* Чтобы контент находился над видео */
    z-index: 1;
    font-size: 30px; /* Размер шрифта */
    font-family: 'cyber', sans-serif;
    color: #f7d9ed; /* Розовый цвет текста */
    text-shadow: 0 0 10px #e99bc9, 0 0 20px #ff6ac1, 0 0 30px #ff6ac1, 0 0 40px #ff6ac1; /* Тень текста с неоновым эффектом */
}

.arrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #040404; /* Цвет стрелки */
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Скрытие стрелки по умолчанию */
    animation: bounce 1s infinite; /* Анимация прыжка */
    display: none; /* Скрытие стрелки по умолчанию */
}

.box:hover .arrow {
    opacity: 1; /* Появление стрелки при наведении */
    display: block; /* Показ стрелки при наведении */
}

/* Анимация прыжка */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}

@media (max-width: 30.0613em) {
    .content {
        padding-top: 8.125rem;
        padding-bottom: 1.25rem;
    }
}
